.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #dbaf61;
  position: relative;
  padding: 10px;
}
.img {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 107px;
  height: 103px;
  align-self: center;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
